<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/stars.css">
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= campground.image %> " class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= campground.title %>
                    </h4>
                    <p class="card-text">
                        <%= campground.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location%>
                    </li>
                    <li class="list-group-item">$<%= campground.price %> per/Night
                    </li>
                    <li class="list-group-item"> <em>Submitted by: <%= campground.author.username %> </em> </li>
                </ul>
                <div class="card-body m-0 py-1">
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <div class="flex-row d-flex">
                            <a class="btn btn-info p-2 flex-fill bd-highlight" href="/campgrounds "> Back </a>
                            <% if(currentUser && campground.author._id.equals(currentUser._id)){ %>
                                <a class="card-link btn btn-warning p-2 flex-fill bd-highlight"
                                    href="/campgrounds/<%= campground._id %>/edit ">Edit</a>
                                <button class="btn btn-danger p-2 flex-fill bd-highlight">Delete</button>

                                <% } %>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h1 class="reviews">Reviews</h1>
            <% if(currentUser) { %>
                <h2>Leave a Review!</h2>
                <form class="mb-3 needs-validation" action="/campgrounds/<%= campground._id  %>/reviews" novalidate
                    method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input type="range" class="form-range" id="rating" name="review[rating]" min="1" max="5">
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea placeholder="Leave a Review here" required class="form-control" name="review[body]"
                            id="body"></textarea>
                        <label class="form-label" for="body">Review</label>
                    </div>
                    <button class="btn btn-success">Add Review!</button>
                </form>
                <% } %>
                    <% for(let review of campground.reviews){ %>
                        <div class="card mb-3 reviewCard">
                            <div class="card-body">
                                <div class="d-flex flex-md-column flex-md-row justify-content-between">
                                    <div class="me-4">
                                        <h5 class="card-title">
                                            Rating:
                                        </h5>
                                        <p class="starability-result" data-rating="<%= review.rating %>"></p>
                                    </div>
                                    <div class="align-self-stretch">
                                        <h5>this place is fun warm and relaxing, youll encounter endless fun for you and
                                        </h5>
                                    </div>
                                </div>
                                <hr>
                                <p class="card-text mb-0">
                                    <%= review.body %>
                                </p>
                                <abbr class="mt-1"> - <%= review.author.username %> - </abbr>
                                <hr>
                                Created:
                                <time class="timeStamp">
                                    <%= review.dateCreated %>
                                </time>
                                <% if(currentUser && review.author.equals(currentUser._id)) { %>
                                    <form
                                        action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE "
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>